body{
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

ul {
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    font-family: inter;
    font-size: 25px;
    font-size: 600;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
}
a:hover{
box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
nav button{
    margin-right: 5%;
    background-color: #303030;  
    border-radius: 3px;
    height: 40px;   
    width: 80px;
    font-family: inter;
    font-size: 20px;
    font-size: 600;
    color: rgb(253, 252, 252);
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);

    border-color: #0e69e9;
    color: #fff;
    box-shadow: 0 0 40px 40px #0449a9 inset, 0 0 0 0 #0449a9;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

nav button:hover{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}